.darken {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--bg-color-second) !important;
    font-family: "Roboto";

    z-index: 1;

    > * {
        text-align: center;
        font-size: 0.5em !important;
    }

    > #updateUser,
    #updateType {
        width: 50%;
        height: 50%;
        position: relative;

        background-color: var(--bg-color-main);

        display: flex;
        flex-direction: column;

        > #button-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1em !important;
            cursor: pointer;
        }

        > form {
            padding: 0rem 30%;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            > input {
                padding: 0.5em;
            }
        }
    }
}

#msg {
    color: red;
}
