$sz-Tablet: 962px;

$size-phone: 480px;
$size-tablet: 768px;
$size-desktop: 1440px;

:root {
    /* all our variables we can use */

    --main-color: #d9fff8;
    --link-color: #001aff;
    --bg-color-main: #1f2526;
    --bg-color-second: #d9fff8;
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    @media (min-width: 320px) {
        --gap: 4px;
    }

    @media (min-width: 481px) {
        --gap: 16px;
    }
}

body {
    font-size: 14px;

    @media (min-width: 480px) {
        font-size: 14px;
    }

    @media (min-width: 768px) {
        font-size: 24px;
    }
}
