@import "config";

.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}

.card.reverse {
    flex-direction: row-reverse;
}

.force-show {
    display: block !important;
}

.confirm_slide {
    position: absolute;
    display: none;
    opacity: 0;
    left: -100%;
    top: 10%;

    background-color: green;
    padding: 1rem;
    border-radius: 8px;
    z-index: 10;

    &.active {
        display: block;
        animation: confirmed_slide 5s;
        animation-fill-mode: forwards;
    }

    > * {
        margin: 0;
    }
}

@keyframes confirmed_slide {
    0% {
        display: block;
        opacity: 0;
        left: -100%;
    }

    20% {
        opacity: 1;
        left: 5%;
    }

    75% {
        opacity: 1;
        left: 5%;
    }

    100% {
        opacity: 0;
        left: -100%;
    }
}
