@use "nav";

@import "config";

nav {
    background-color: var(--bg-color-main);
    position: relative;
    * {
        color: var(--bg-color-second) !important;
    }
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

// end of base css. #TODO might want to make this a seperate file for re-usablity.
// Might just want to add this with an API and not a seperate page.
