$main-color: #d9fff8;
$link-color: #001aff;
$bg-color-main: #1f2526;
$bg-color-second: #d9fff8;
$gap: 16px;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

#loginContainer {
    display: none;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;
    z-index: 10;

    font-family: "roboto";

    background-color: rgba($color: #000000, $alpha: 0.5);
}

.loginMenu,
.registerMenu {
    display: none;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 1px rgba(white, $alpha: 0.5) solid;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    box-shadow: var(--box-shadow);

    background-color: rgba($main-color, $alpha: 0.25);

    padding: 3rem;

    @media (max-width: 375px) {
        width: 100%;
    }

    // animation: Rotate 2s forwards 0s infinite;

    h3 {
        text-align: center;
        font-size: 3rem;
        margin-top: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: $gap;

        height: 100%;
        width: 100%;

        label {
            text-align: center;
            font-size: 2rem;
        }
        input {
            font-size: 1.25rem;
            // background-color: darken($main-color, $amount: 0);
            border: none;
            border-radius: $gap;
            padding: 0.5rem 0.6rem;
            outline: none;
        }

        .submitBut,
        a {
            border: 2px var(--link-color) solid;
            background-color: var(--link-color);
            color: var(--main-color);
            border-radius: 5px;
            margin: 0 2rem;
            padding: 0.25rem 1rem;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .LoginMenuClose {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        font-size: 2rem;
        text-decoration: none;
        color: var(--bg-color-main);

        &:hover {
            scale: 1.2;
        }
    }
}

@keyframes Rotate {
    0% {
        transform: translate(-50%, -50%) rotateY(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateY(359deg);
    }
}

.appear {
    display: block !important;
    .loginMenu {
        animation: slowAppear 0.25s;
        animation-fill-mode: forwards;
    }
}

.LoginMenuClose,
#login,
a {
    cursor: pointer;
}

@keyframes slowAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#msg {
    font-size: 1rem;
    color: red;
    text-align: center;
}
