@use "nav";
@use "utility";
@use "profile-info";

@import "config";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-second);
}

body * {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: fit-content;
    background-color: var(--bg-color-main);
    * {
        color: var(--bg-color-second) !important;
    }

    nav {
        position: relative;
    }
}

.container {
    display: flex;
    flex-direction: row;
    // height: 100vh;
    width: 100%;
}

@media (max-width: $size-phone) {
    .aside-open {
        position: absolute;
        display: block;
        width: 30px;
        height: 15px;
        background-color: rgba(black, 0.3);
        backdrop-filter: blur(8px);
        left: 0;
        top: 50%;
    }
}

aside {
    height: 100%;
    @media (max-width: $size-phone) {
        display: none;
    }

    width: fit-content;

    background-color: lighten(#1f2526, 2.5);
    color: var(--bg-color-second);

    ul {
        list-style-type: none;
        padding: 0;
        li {
            font-size: 2rem;
            padding: 1rem;
            text-align: center;
        }
    }
}

#router {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    display: flex;
    position: relative;
}

// main.grid {
//     display: grid;
//     grid-template-columns: 10rem auto;
// }

// main > aside {
//     grid-column: 1;
// }

// main > article {
//     grid-column: 2;
// }

#userInfo {
    h3 {
        text-align: center;
    }
}

.userTable {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    justify-content: center;
    padding: 1rem;

    > * {
        flex: 1;
    }

    thead > tr {
        display: flex;
        flex-direction: column;
        text-align: right;
        height: 100%;
    }

    tbody > tr {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

th {
    text-align: right;
}
